   <%- include('../partials/header.ejs') %>
   <h1>Movie Theater Reviews</h1>
   <table>
    <thead>
      <tr>
        <th>Theater</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% theaters.forEach(function(t) { %>
        <tr>
          <td><%= t.theaterName %></td>
          <td><%= t.theaterLocation%></td>
        <td><a href="theaters/<%=`${t._id}`%>" >See Reviews!</a>
          <a href="/theaters/<%= t._id %>/edit">Edit Theater Info</a>
          <form action="/theaters/<%= t._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
         </td> 
        </tr> 
      <% }); %>
    </tbody>
  </table>
  
    <%- include('../partials/footer.ejs') %>

