   <%- include('../partials/header.ejs') %>
   <h1>Movie Theater Reviews</h1>
   <table>
    <thead>
      <tr>
        <th>Theater</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% theaters.forEach(function(t) { %>
        <tr>
          <td><%= t.theaterName %></td>
          <td><%= t.theaterDetails %></td>
          <td><%= t.theaterLocation%></td>
          <td><%= t.rating %></td>
          <td><%= t.reviews %></td>
        <td><a href="/theaters/<%= t._id %>">Details</a></td>
         <td> <% t.details.forEach(detail => { %> 
        <% detail.theaterDetails %>
        <% detail.theaterLocation %>
        <% detail.reviews %>
        <% })%>
        <form action="/theaters/<%= t._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
         </td> 
        </tr> 
      <% }); %>
    </tbody>
  </table>
  
    <%- include('../partials/footer.ejs') %>

